* {
  margin: 0;
  font-family: fantasy, Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 70px;
  margin-top: 0;
}

#container-img-header {
  display: flex;
  height: 86%;
}

img {
  height: 100%;
  margin-left: 5px;
}

.forms-login {
  height: 100%;
  margin-right: 12px;
}

#email-login , #password-login , #button-login {
  width: 160px;
  padding: 8px;
  margin: 0 3px;
  border-radius: 4px;
  outline: none;
  border: none;
}

#button-login {
  background-color: indigo;
  font-size: medium;
  color: aliceblue;
}

#button-login:active {
  color: black;
  border: 2px solid indigo;
  background-color: white;
}

#trybewarts-header-title {
  color: aliceblue;
}

.flex-container {
  display: flex; /* requisito 5 */
}

main {
  justify-content: center;
}

#title-form {
  text-align: center;
  margin: 24px 0;
}

#evaluation-form {
  flex-direction: column; /* requisito 6 */
  width: 675px; /* requisito 5 */
}

#subcontainer-top {
  flex-wrap: wrap;
  align-content: space-between;
  align-items: baseline;
}

#input-name , #input-lastname , #input-email {
  width: 321px;
  height: 25px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  margin: 3px 0;
  padding: 6px;
}

::placeholder {
  font-size: initial;
}

#house {
  width: 294px;
  height: 37px;
  font-size: initial;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

#subcontainer-middle {
  height: 120px;
  max-height: max-content;
}

#middle-left {
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
}

#middle-right {
  flex-direction: column;
  justify-content: space-between;
}

#label-content {
  width: fit-content;
  height: 50%;
  line-height: 16px;
}

#middle-right-checkboxs {
  height: 45%;
  width: 65%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: baseline;
  text-align: left;
}

.subject {
  margin-left: 5px;
}

#subcontainer-bottom {
  flex-wrap: wrap;
  margin-bottom: 14px;
}

#label-rate {
  width: 40%;
}

#rates {
  width: 60%;
  justify-content: space-between;
}

#container-comments {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  flex-direction: column;
}

#container-agreement {
  width: 100%;
  align-items: flex-end;
  justify-content: flex-start;
}

#submit-btn {
  background-color: indigo;
  font-size: inherit;
  outline: none;
  border: none;
  color: white;
  border-radius: 8px;
  height: 40px;
  width: 100%;
}

#submit-btn:active {
  color: black;
  border: 2px dashed indigo;
  background-color: whitesmoke;
}

.line {
  border: 2px solid gainsboro;
  border-radius: 10px;
  margin: 20px 0;
}

input:focus {
  outline-color: indigo;
}

textarea {
  resize: none;
  font-size: inherit;
  border-radius: 4px;
}

textarea:valid {
  outline-color: indigo;
}

textarea:invalid {
  outline-color: red;
}

#counter {
  position: relative;
  left: calc(95% + 4px);
  bottom: 20px;
}

#trybewarts-forms-logo {
  height: 500px; /* requisito 7 */
  margin-top: 2%;
}

#my-footer {
  display: block;
  position: relative;
  top: 209px;
  color: white;
  background-color: rgb(54, 57, 69);
  padding: 20px;
  font-size: 18px;
}

#my-footer section {
  text-align: center;
}

#form-data {
  display: none;
  flex-direction: column;
  width: 20%;
}

.data-confirm {
  margin: 12px 0;
}

.data-confirm span {
  word-wrap: break-word;
}
